<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
       
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <title>Quiz Game</title>
        <style>
            body{
                background-color : #ffffb3;
                background-repeat: repeat-x;
                background-image : url(http://fanaru.com/black/image/128600-black-black-town.jpg);
                color:white;
            }
            td{ text-align:center; }
        </style>
    </head>
    <body>
        <p> Player who won Quiz Game </p>
        <table>
            <tr> 
                <th> --- </th>
                <th> The Winner </th>
            </tr>
            <% for(var i=0,j=1;i<info.numberOfWinner;i++,j++){ %>
            <tr>
                <td> <%= j %></td>
                <td> <%= info.winner[i] %></td>
            </tr>
            <% } %>
        </table>

        <a href="/"> <button> BACK </button> </a>
    </body>
</html>