body{
    background-color : #ffffb3;
    background-attachment: fixed;
    background-image : url(http://fanaru.com/black/image/128600-black-black-town.jpg);
}
#header1,#header2,#header3{
    font-size: 60px;
    font-family: fantasy;
    color: whitesmoke;
}
#whtQ,#h2p1,#h2p2,#h2p3,#hiw,#hiw2{
    font-size: 20px;
    font-family: Arial;
    color :violet;
}
#btn{
    font-size: 25px;
    font-family: Arial;
    text-align: center;
    font-weight: bold; 
    color : black;
    background-color: #ffff1a;
    margin : 2%;
    border-radius: 75px;
    width: 150px;
}